.containerProfil {
  margin-bottom: 2rem;
}

.profilCard {
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
  /* background-color: red; */
  width: 40%;
  margin: auto;
  padding: 2rem;
  border-radius: 50px;

  /* min-height: 400px; */
  border: 1px solid grey;
  /* height: 15rem; */
}

.imgContainer {
  /* width: 50px;
  height: 50px; */
  display: flex;
  justify-content: center;
}

.imgContainer img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 80px;
}

.infoName {
  display: flex;
}

.buttonColor {
  display: flex;
  justify-content: flex-end;
}

.postContainer {
  border-radius: 50px;

  border: 1px solid grey;
  padding: 2rem;
  width: 40%;
  margin: auto;
  margin-top: 5%;
}

.containerLike {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
}
